<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InnoAuth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1427B9EE1A3A8C3600991369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1427B9F91A3A8C9200991369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AB7B331A31B2C800E73FE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14AB7B3E1A31B2C800E73FE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
